/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*COMMON*/

body{
    font-family: 'Kanit', sans-serif;
    background-color: black ;
    color:white;
}
h1{
    font-size: 3rem;
}

/*CONTAINER*/

.container{
    width:80%;
    margin: 0 auto;
}

/*HEADER*/

.headertitle{
    text-align: center;
    padding-top: 2rem;
    color: fuchsia;
}

/*MAIN*/

.description{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center; 
}

/*CONTAINER PART*/

.cardcontainer{
    width: 100%;
}

.col{
    width: calc(100% / 3);
    padding:30px;
    float:left;
}


/*CARD SECTION*/
.card{
    background-color: black;
    color:white;
    height: 150px;
    border:2px solid white;
}

.idphoto{
    float:left;
    height:100%;
}

.info{
    padding-top:20px;
    margin-left:10px;
    float:left;
}

.info h3,p,a{
    margin-bottom: 1rem;
}

.info a{
    text-decoration: none;
    color:rgb(45, 201, 248);
}



/*SHADOW COLORS*/
.redsha{
    box-shadow: 5px 5px 20px red;
}

.orangesha{
    box-shadow: 5px 5px 20px  orangered;
}

.yellowsha{
    box-shadow: 5px 5px 20px yellow;
}

.greensha{
    box-shadow: 5px 5px 20px green;
}

.bluesha{
    box-shadow: 5px 5px 20px blue;
}

.purplesha{
    box-shadow: 5px 5px 20px purple;
}