/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*COMMON*/

body{
    background-color: grey;
}

/*CONTAINER*/

.container{
    width:80%;
    margin: 0 auto;
}

/*HEADER*/

.headertitle{
    text-align: center;
    padding-top: 2rem;
    color: fuchsia;
}

/*MAIN*/

.description{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center; 
}

/*CONTAINER PART*/

.cardcontainer{
    width: 100%;
    border:1px solid black;
}

.col{
    width: calc(100% / 3 - 20px);
    padding:20px;
    float:left;
}

/*CARD SECTION*/
.card{
    width:100%;
    background-color: black;
    color: white;
}

.idphoto{
    float:left;
    width:30%;
    height:100%;
}

.info{
    padding-top: 10px;
    padding-bottom: 10px;
}
.info a{
    color:white;
    text-decoration: none;
}

.info h3{
    padding-top: 5px;
}


.info p{
    margin: 30px;
}
