/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*COMMON*/


/*CONTAINER*/

.container{
    width:80%;
    margin: 0 auto;
}

/*HEADER*/

.headertitle{
    text-align: center;
    padding-top: 2rem;
    color: fuchsia;
}

/*MAIN*/

.description{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center; 
}

/*CONTAINER PART*/

.cardcontainer{
    width: 100%;
}

.col{
    width: calc(100% / 3 - 20px);
    padding:30px;
    float:left;
}

/*CARD SECTION*/
.card{
    background-color: black;
    color:white;
    height: 150px;
    box-shadow: 5px 5px 20px black;
}

.idphoto{
    float:left;
    height:100%;
}

.info{
    padding:1rem;
    margin-right:10px;
}
.info h3,p,a{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}